html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

.card-body{
 border-radius:12px; 
 width:400px;
 margin: auto;
 display:flex;
 height:100%;
 box-sizing: content-box;
}


.input{
width:200px;
border-radius:12px;

}
.jum{
margin: auto;
height:100vh;
box-sizing: content-box;    
}
.cont{
height: 100%;    

}

.button{
 border-radius:12px;
 margin: auto;   
}
.footer{
margin:auto;
height:5vw;
box-sizing: border-box;    
}
.limit{
box-sizing: content-box;
border-radius:12px;
}

.drop{
 margin:auto;
 width:200px;
 border-radius:12px; 
}

.def{
 width:100px;
 border-radius:12px; 
}
.form{
box-sizing: content-box;  
}